{% extends "base.html.twig" %}
    {% block body %}
        {#  {{ dump(app.request }}#}
        {#  {{ dump(app.request.get('alias')) }}#}

<div class="p-3 mx-auto text-center">
    <h1 class="display-4">{{ app.request.get('alias') | title}}</h1>
</div>
<div class="py-5 bg-light">
    <div class="container">
        <div class="row">

            {% for product in products %}
                <div class="col-md-4 mt-4">
                    <div class="card shadow-sm">
                        <img src="{{ asset('uploads/images/' ~ product.image) }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <a href="{{ path('default_product', {
                                'id' : product.id
                            }) }}" class="btn btn-light">Voir ce cadeau</a>
                        </div> <!-- /.card-body-->
                    </div><!-- /.card-->
                </div><!-- /.col-md-4-->
            {% endfor %}
        </div><!-- /.row-->
    </div><!-- /.container-->
</div><!-- /.py-5-->

{% endblock %}
