{% extends "base.html.twig" %}
{% block body %}
{#{{ dump(app.request) }}#}
    <div class="container">
        <div class="row">
            <div class="col-18 mx-auto">
                <div class="jumbotron mt-4">
                    <h1 class="display-4">{{ product.name }}</h1>
                    <img src="{{ asset('uploads/images/' ~ product.image) }}" alt="{{ product.name }}" class="card-img-top">
                    <h4>{{ product.description | raw }}</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}