

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto text-center">
    <a class="navbar-brand" href="{{ path('index') }}"><i class="fas fa-gifts"></i> Cadeaux<i class="fas fa-gifts"></i> </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" href="{{ path('default_category', { 'alias' : 'noel' }) }}" >Cadeaux de Noël <i class="fas fa-air-freshener"></i></a>

            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="{{ path('default_category', { 'alias' : 'mariage' }) }}">Cadeaux de Mariage <i class="fas fa-glass-cheers"></i>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="{{ path('default_category', { 'alias' : 'anniversaire' }) }}" >Cadeaux d'Anniversaire <i class="fas fa-birthday-cake"></i></a>

            </li>

            <li class="nav-item dropdown">
                <a class="nav-link" href="{{ path('default_category', { 'alias' : 'nouvel an chinois' }) }}" >Cadeaux de Nouvel An Chinois <i class="fas fa-candy-cane"></i></a>
            </li>
        </ul>

        <div class="form-check-inline my-2 my-lg-0 row ">
        {%  if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="nav-link" href="{{ path('product_create') }}"> Ajouter un cadeau</a>
        <a class="nav-link" href="{{ path('comment_create') }}"> Comment</a>
        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
        <a class="nav-link" href="{{ path('user_create') }}"> Inscription </a>
        <a class="nav-link" href="{{ path('app_login') }}"> Connexion </a>
        {% endif %}
        </div>
    </div>
</nav>